API_ID= 28294621
API_HASH= 8789b9a1a07bd73bb795b713eccd25f0
BOT_TOKEN=
LOGGER_ID= -1001858609412
MONGO_DB_URI= mongodb+srv://PrincyMusicBot:Princy@cluster0.vhfri5f.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 6507819384
STRING_SESSION=
